*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 30px auto;
    text-align: center;
}

h2{
    margin: 30px auto;
    text-align: center;
}

.showNumbers{
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.showResult{
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

div{
    text-align: center;
}